<div class="container">
    <div class="card">
        <img src="../../../assets/img/cenzor.png" alt="cenzor">
        <p>Angular list of prohibited words</p>
        <button [routerLink]="['/works/cenzor']" routerLinkActive="router-link-active" >details</button>
    </div>
    <div class="card">
        <img src="../../../assets/img/users.png" alt="user">
        <p>Angular users list</p>
        <button [routerLink]="['/works/users']" routerLinkActive="router-link-active"  >details</button>
    </div>
    <div class="card">
        <img src="../../../assets/img/task.png" alt="task">
        <p>Angular task list </p>
        <button [routerLink]="['/works/task']" routerLinkActive="router-link-active" >details</button>
    </div>
</div>